@keyframes person-to-top-animate{
  0%{
    opacity: 1;
    transform: translatey(0px);
  }
  100%{
    opacity: 1;
    transform: translatey(-195px);
  }
}

@keyframes animationText{
  0%{
    opacity: 0;
    transform: translate(-50%, -50%);
  }
  50%{
    opacity: 0;
    color: red;
  }
  95%{
    color: red;
  }
  100%{
    opacity: 1;
    transform: translate(-50%, 550%);
    color: black;
  }
}

@keyframes personAnimate{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


/* HOVER PERSON ELEMENT */
// @keyframes animToLeft{
//   0%{
//     opacity: 1;
//     transform: translateX(0px);
//   }
//   100%{
//     opacity: 1;
//     transform: translateX(-50px);
//   }
// }
// @keyframes animToRight{
//   0%{
//     opacity: 1;
//     transform: translateX(0px);
//   }
//   100%{
//     opacity: 1;
//     transform: translateX(50px);
//   }
// }
// /*reset to starting position*/
// @keyframes animResetLeft{
//   0%{
//     opacity: 1;
//     transform: translateX(-50px);
//   }
//   100%{
//     opacity: 1;
//     transform: translateX(0px);
//   }
// }
// @keyframes animResetRight{
//   0%{
//     opacity: 1;
//     transform: translateX(50px);
//   }
//   100%{
//     opacity: 1;
//     transform: translateX(0px);
//   }
// }