.fill-background-top{

  /* ICONS */
  .social-icons-block{
    text-align: right;
    margin-right: 20px;
  
    .fa-volume-up, .fa-volume-off{
      font-size: 2em;
      color: rgb(122, 122, 122);
    }
    .fa-volume-up:hover{
      color: green;
    }
    .fa-volume-off:hover{
      color: red;
    }
    .fa-volume-off{ margin-left: 10px;}
  }
}

/* Reset button */
.local-storage-reset, .nextActor{
  border: 1px solid black;
  width: 100px;
  height: 30px;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  background-color: white;
  transition: 250ms all ease;
  border-radius: 2px;
  box-shadow: 0px 10px 17px -5px rgba(0,0,0,0.75);
}
.local-storage-reset:hover{
  cursor: pointer;
  background-color: red;
  color: white;
  transition: 250ms all ease;
  box-shadow: 0px 10px 17px 1px rgba(0,0,0,0.75);
}

/* Continue button */
.nextActor{   // same style as reset button, see above
  opacity: 0;
  transition: 250ms all ease;
  background-color: lightblue;
  &:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(123, 195, 219);
    transition: 250ms all ease;
    box-shadow: 0px 10px 17px 1px rgba(0,0,0,0.75);
  }
}