@-webkit-keyframes image-to-top-animate {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0); }
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg); } }

@keyframes image-to-top-animate {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0); }
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg); } }

@-webkit-keyframes animationText {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  50% {
    opacity: 0;
    color: red; }
  95% {
    color: red; }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, 550%);
            transform: translate(-50%, 550%);
    color: black; } }

@keyframes animationText {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  50% {
    opacity: 0;
    color: red; }
  95% {
    color: red; }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, 550%);
            transform: translate(-50%, 550%);
    color: black; } }

@-webkit-keyframes personAnimate {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes personAnimate {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.fill-background-top {
  /* ICONS */ }
  .fill-background-top .social-icons-block {
    text-align: right;
    margin-right: 20px; }
    .fill-background-top .social-icons-block .fa-volume-up, .fill-background-top .social-icons-block .fa-volume-off {
      font-size: 2em;
      color: #7a7a7a; }
    .fill-background-top .social-icons-block .fa-volume-up:hover {
      color: green; }
    .fill-background-top .social-icons-block .fa-volume-off:hover {
      color: red; }
    .fill-background-top .social-icons-block .fa-volume-off {
      margin-left: 10px; }

/* Reset button */
.local-storage-reset, .nextActor {
  border: 1px solid black;
  width: 100px;
  height: 30px;
  position: absolute;
  bottom: 2%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: black;
  background-color: white;
  -webkit-transition: 250ms all ease;
  transition: 250ms all ease;
  border-radius: 2px;
  box-shadow: 0px 10px 17px -5px rgba(0, 0, 0, 0.75); }

.local-storage-reset:hover {
  cursor: pointer;
  background-color: red;
  color: white;
  -webkit-transition: 250ms all ease;
  transition: 250ms all ease;
  box-shadow: 0px 10px 17px 1px rgba(0, 0, 0, 0.75); }

/* Continue button */
.nextActor {
  opacity: 0;
  -webkit-transition: 250ms all ease;
  transition: 250ms all ease;
  background-color: lightblue; }
  .nextActor:hover {
    cursor: pointer;
    color: white;
    background-color: #7bc3db;
    -webkit-transition: 250ms all ease;
    transition: 250ms all ease;
    box-shadow: 0px 10px 17px 1px rgba(0, 0, 0, 0.75); }

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  height: 100%; }

.welcome-text {
  display: none; }

.fill-background-top {
  text-align: center;
  width: 100%;
  height: 200px;
  background: whitesmoke;
  position: relative; }
  .fill-background-top span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: black;
    -webkit-transition: 500ms all ease-in-out;
    transition: 500ms all ease-in-out;
    font-family: Verdana; }

/* Score counter */
.scoreDiv {
  position: absolute;
  bottom: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.content {
  -webkit-box-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap; }
  .content .person-block,
  .content .random-block {
    -webkit-perspective: 800px;
            perspective: 800px;
    display: inline-block;
    opacity: 0;
    -webkit-animation: personAnimate 1s forwards;
            animation: personAnimate 1s forwards;
    /* transition: 1s all ease; */ }
    .content .person-block_img,
    .content .random-block_img {
      position: relative;
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
      -webkit-transform: rotateX(0) rotateY(0deg) rotateZ(0);
              transform: rotateX(0) rotateY(0deg) rotateZ(0);
      height: 200px;
      width: 200px;
      display: block;
      margin: 0 auto; }
      .content .person-block_img::before,
      .content .random-block_img::before {
        content: '';
        background: black;
        position: absolute;
        top: 0;
        left: 0;
        height: 200px;
        width: 20px;
        -webkit-transform: rotateY(90deg) translateZ(-10px) translateX(10px);
                transform: rotateY(90deg) translateZ(-10px) translateX(10px); }
      .content .person-block_img img,
      .content .random-block_img img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
      .content .person-block_img .front,
      .content .random-block_img .front {
        position: absolute;
        -webkit-backface-visibility: visible;
                backface-visibility: visible; }
      .content .person-block_img .back,
      .content .random-block_img .back {
        position: absolute;
        -webkit-backface-visibility: visible;
                backface-visibility: visible;
        -webkit-transform: rotateY(180deg) translateZ(20px);
                transform: rotateY(180deg) translateZ(20px); }
      .content .person-block_img .the-wall,
      .content .random-block_img .the-wall {
        -o-object-position: -50px;
           object-position: -50px; }
      .content .person-block_img .future,
      .content .random-block_img .future {
        -webkit-filter: brightness(1.1);
                filter: brightness(1.1); }
    .content .person-block p,
    .content .random-block p {
      text-align: center; }
    .content .person-block:hover,
    .content .random-block:hover {
      cursor: pointer; }

/* STAGE1 */
.textHover:hover {
  cursor: pointer; }

.answers {
  display: none;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin: 0 auto;
  width: 100%; }
  .answers > .answer {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
    opacity: 0;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
    display: block;
    margin-bottom: 10px;
    width: 30%;
    min-width: 300px;
    height: 40px;
    border: 0;
    border-radius: 2px;
    background: #3fb2ff;
    color: black;
    font-size: 18px;
    font-family: verdana;
    box-shadow: 0px 8px 8px -5px rgba(0, 0, 0, 0.75); }
    .answers > .answer:hover {
      -webkit-transition: all 125ms ease;
      transition: all 125ms ease;
      cursor: pointer;
      background: #18d818; }

.game-over {
  text-align: center;
  width: 450px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #d4d4d4;
  display: none;
  -webkit-box-pack: center;
          justify-content: center;
  align-content: center;
  box-shadow: 0px 10px 13px -5px rgba(0, 0, 0, 0.75); }
  .game-over p {
    text-transform: uppercase;
    padding: 15px 0;
    line-height: 50px;
    font-size: 1.4rem; }
    .game-over p #game-over-points {
      line-height: 50px; }
  .game-over #restart {
    margin: 0 auto;
    border: 0px;
    width: 60px;
    height: 30px;
    background: red; }
    .game-over #restart:hover {
      cursor: pointer; }

/* UNUSED ATM */
/* entry Buttons  */
.button-container {
  display: none;
  position: absolute;
  top: 50px;
  left: 210px;
  width: 100px;
  height: 90px;
  /* border: 1px solid black; */ }

.button-with-class {
  z-index: 3;
  position: absolute;
  width: 100px;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  display: block;
  opacity: 1; }

.button-with-class:nth-of-type(1) {
  top: 0;
  left: 0; }

.button-with-class:nth-of-type(2) {
  top: 30px;
  left: 0; }

.button-with-class:nth-of-type(3) {
  top: 60px;
  left: 0; }

/* STATISTICS */
.statistics {
  margin-left: 10px;
  margin-top: -200px;
  max-width: 190px;
  display: none;
  opacity: 0;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  /* Attributes */
  /* Perks */ }
  .statistics .stats-name-from {
    font-size: 0.75rem;
    color: grey; }
  .statistics .stats-name-from, .statistics #personName, .statistics #personFrom {
    display: inline-block; }
  .statistics .statistics ul li {
    list-style: none; }
  .statistics .statistics #personName {
    margin-top: 25px; }
  .statistics .attributes {
    margin-top: 5px; }
  .statistics .attributes label {
    display: block; }
  .statistics .perks-container {
    margin-top: 5px;
    background: grey; }
  .statistics .perks-container p {
    color: white; }
