@import './animations.scss';
@import './buttons-and-icons.scss';

*, *::before, *::after{
  box-sizing: border-box;
  padding: 0; margin: 0;
}
body{ height: 100%; }

.welcome-text{ display: none; }

.fill-background-top{
  text-align: center;
  width: 100%;
  height: 200px;
  background: whitesmoke;
  position: relative;

  span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    transition: 500ms all ease-in-out;
    font-family: Verdana;
  }

}

/* Score counter */
.scoreDiv{
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
}

.content{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;

  .person-block,
  .random-block{
    background: white;
    display: inline-block;
    opacity: 0;
    animation: personAnimate 1s forwards;
    border: 1px solid black;
    /* transition: 1s all ease; */

    &_img{
      height: 100px;
      width: 200px;
      display: block;
      margin: 0 auto;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    p{
      text-align: center;
      padding: 15px 0;
    }

    &:hover{
      cursor: pointer;
      color: white;
      background: black;
    }
  }
}

/* STAGE1 */
.textHover{
}
.textHover:hover{
  cursor: pointer;
}

.answers{
  display: none;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;

  & > .answer{
    transform: translateX(-200px);
    opacity: 0;
    transition: all 250ms ease;

    display: block;
    margin-bottom: 10px;
    width: 30%;
    min-width: 300px;
    height: 40px;
    border: 0;
    border-radius: 2px;
    background: rgb(63, 178, 255);
    color: black;
    font-size: 18px;
    font-family: verdana;
    box-shadow: 0px 8px 8px -5px rgba(0,0,0,0.75);

    &:hover{
      transition: all 125ms ease;
      cursor: pointer;
      background: rgb(24, 216, 24);
    }
  }
}

// on game-over
.game-over{
  width: 600px;
  height: 200px;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  background: greenyellow;
  display: none;
  justify-content: center;
  align-content: center;
}



/* UNUSED ATM */

/* entry Buttons  */
.button-container{
  display: none;
  position: absolute;
  top: 50px; left: 210px;
  width: 100px;
  height: 90px;
  /* border: 1px solid black; */
}
.button-with-class{
  z-index: 3;
  position: absolute;
  width: 100px;
  transition: opacity 1s;
  display: block;
  opacity: 1;
}
.button-with-class:nth-of-type(1){
  top: 0; left: 0;
}
.button-with-class:nth-of-type(2){
  top: 30px; left: 0;
}
.button-with-class:nth-of-type(3){
  top: 60px; left: 0;
}

/* STATISTICS */
.statistics{
  margin-left: 10px;
  margin-top: -200px;
  max-width: 190px;
  display: none;
  opacity: 0;
  transition: 1s all ease;

  .stats-name-from{
    font-size: 0.75rem;
    color: grey;
  }
  .stats-name-from, #personName, #personFrom{
    display: inline-block;
  }

  .statistics ul li{
    list-style: none;
  }
  .statistics #personName{
    margin-top: 25px;
  }

  /* Attributes */
  .attributes{
    margin-top: 5px;
  }
  .attributes label{
    display: block;
  }

  /* Perks */
  .perks-container{
    margin-top: 5px;
    background: grey;
  }
  .perks-container p{
    color: white;
  }
}