

@keyframes person-to-top-animate{
  0%{
    opacity: 1;
    transform: translatey(0px);
  }
  25%{  
    opacity: 0.75;
  }
  75%{
    opacity: 0.75;
  }
  100%{
    opacity: 1;
    transform: translatey(-195px);
  }
}