*, *::before, *::after{
  box-sizing: border-box;
  padding: 0; margin: 0;
}
.fill-background-top{
  text-align: center;
  width: 100%;
  height: 200px;
  background: whitesmoke;
  position: relative;
}
.fill-background-top span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  transition: 500ms all ease-in-out;
  font-family: Verdana;
}

@keyframes animationText{
  0%{
    opacity: 0;
    transform: translate(-50%, -50%);
  }

  50%{
    opacity: 0;
    color: red;
  }
  95%{
    color: red;
  }
  100%{
    opacity: 1;
    transform: translate(-50%, 550%);
    color: black;
  }
}

.content{
  display: flex;
  flex-wrap: wrap;
}
.person-block{
  background: white;
  display: inline-block;
  opacity: 0;
  animation: personAnimate 1s forwards;
  border: 1px solid black;
  /* transition: 1s all ease; */
}
.person-block:hover{
  cursor: pointer;
}
.person-block:hover p{
  cursor: pointer;
  color: white;
  background: black;
}

@keyframes personAnimate{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.img-container{
  height: 100px;
  width: 200px;
  display: block;
  margin: 0 auto;
  margin-top: 2px;
}
.person-block .img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.person-block p{
  text-align: center;
  padding: 15px 0;
}



/* entry Buttons */
.button-container{
  position: absolute;
  top: 50px; left: 210px;
  width: 100px;
  height: 90px;
  /* border: 1px solid black; */
}

.button-with-class{
  z-index: 3;
  position: absolute;
  width: 100px;
  transition: opacity 1s;
  display: block;
  opacity: 1;
}
.button-with-class:nth-of-type(1){
  top: 0; left: 0;
}
.button-with-class:nth-of-type(2){
  top: 30px; left: 0;
}
.button-with-class:nth-of-type(3){
  top: 60px; left: 0;
}

/* STATISTICS */
.statistics{
  margin-left: 10px;
  margin-top: -200px;
  max-width: 190px;
  display: none;
  opacity: 0;
  transition: 1s all ease;
}
.stats-name-from{
  font-size: 0.75rem;
  color: grey;
}
.stats-name-from, #personName, #personFrom{
  display: inline-block;
}

.statistics ul li{
  list-style: none;
}
.statistics #personName{
  margin-top: 25px;
}

/* Attributes */
.attributes{
  margin-top: 5px;
}
.attributes label{
  display: block;
}

/* Perks */
.perks-container{
  margin-top: 5px;
  background: grey;
}
.perks-container p{
  color: white;
}



/* Task counter */
.tasksToComplete{
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
}

/* Reset button */
.local-storage-reset{
  border: 1px solid black;
  width: 100px;
  height: 30px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  background-color: white;
  transition: 250ms all ease;
  border-radius: 2px;
  box-shadow: 0px 10px 17px -5px rgba(0,0,0,0.75);
}
.local-storage-reset:hover{
  cursor: pointer;
  background-color: red;
  color: white;
  transition: 250ms all ease;
  box-shadow: 0px 10px 17px 1px rgba(0,0,0,0.75);
}

/* ICONS */
.social-icons-block{
  text-align: right;
  margin-right: 20px;
}
.fa-volume-up, .fa-volume-off{
  font-size: 2em;
  color: rgb(122, 122, 122);
}
.fa-volume-up:hover{
  color: green;
}
.fa-volume-off:hover{
  color: red;
}
.fa-volume-off{ margin-left: 10px;}