.content{
  display: grid;
  grid-template-columns: repeat(5, 1fr);

}
.person-block{
  opacity: 0;
  animation: personAnimate 1s forwards;
}
.person-block:nth-child(even){
  animation-delay: 250ms;
}
.person-block:nth-child(odd){
  animation-delay: 500ms;
}
.img-container{
  height: 100px;
  width: 200px;
  display: block;
  margin: 0 auto;
  margin-top: 2px;
}
.person-block .img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.person-block p{
  text-align: center;
}


.person-block:hover{
  filter: brightness(1.5);
  color: grey;
  background: black;
  cursor: pointer;
}
@keyframes personAnimate{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

