*, *::before, *::after{
  box-sizing: border-box;
  padding: 0; margin: 0;
}
.fill-background-top{
  text-align: center;
  width: 100%;
  height: 200px;
  background: whitesmoke;
  position: relative;
}
.fill-background-top span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  transition: 500ms all ease-in-out;
  font-family: Verdana;
}

@keyframes animationText{
  0%{
    opacity: 0;
    transform: translate(-50%, -50%);
  }

  50%{
    opacity: 0;
    color: red;
  }
  95%{
    color: red;
  }
  100%{
    opacity: 1;
    transform: translate(-50%, 550%);
    color: black;
  }
}

.content{
  display: inline-block;
}
.person-block{
  background: white;
  display: inline-block;
  opacity: 0;
  animation: personAnimate 1s forwards;
  border: 1px solid black;
  /* transition: 1s all ease; */
}
.person-block:hover{
  cursor: pointer;
}
.person-block:hover p{
  cursor: pointer;
  color: white;
  background: black;
}

@keyframes personAnimate{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.person-block:nth-child(even){
  animation-delay: 250ms;
}
.person-block:nth-child(odd){
  animation-delay: 500ms;
}
.img-container{
  height: 100px;
  width: 200px;
  display: block;
  margin: 0 auto;
  margin-top: 2px;
}
.person-block .img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.person-block p{
  text-align: center;
  padding: 15px 0;
}



/* entry Buttons */
.button-container{
  position: absolute;
  top: 50px; left: 210px;
  width: 100px;
  height: 90px;
  /* border: 1px solid black; */
}

.button-with-class{
  position: absolute;
  width: 100px;
  transition: opacity 1s;
  display: none;
  opacity: 0;
}
.button-with-class:nth-of-type(1){
  top: 0; left: 0;
}
.button-with-class:nth-of-type(2){
  top: 30px; left: 0;
}
.button-with-class:nth-of-type(3){
  top: 60px; left: 0;
}

.statistics{
  margin-left: 50px;
  margin-top: -200px;
  display: none;
  opacity: 0;
  transition: 1s all ease;
}
.statistics #personName{
  margin-top: 25px;
}
.statistics label{
  display: block;
}

/* Reset button */
.local-storage-reset{
  border: 2px solid black;
  width: 100px;
  height: 30px;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}
.local-storage-reset:hover{
  cursor: pointer;
}